    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "fakebook", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline'})do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <li><%= f.email_field :email, autofocus: true, id: "inputEmail", class: " signin-field",  placeholder: "Email" %></li>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "sr-only"%>
    <%= f.password_field :password, autocomplete: "off", id: "inputPassword", class: "signin-field", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="btn">
    <%= f.button "Log in" %>
  </div>


<% end %>
          </ul>
        </nav>
      </div>
    </header>