<div class="col-md-2">
<%= image_tag @user.profile.avatar.url(:small)%>
<p><%= link_to @user.full_name, profile_path(@user.id) %></p>

<% if current_user == @user %>
<p><%= link_to "Edit Profile", edit_profile_path(@user.id) %></p>
<p><%= link_to "My Timeline", timeline_path %></p>
<% end %>

<p><%= @user.profile.location %></p>
<p><%= @user.profile.gender %></p>
<p><%= @user.profile.birthday %></p>
</div>

<div class="col-md-8">

<%= render '/shared/post_form' %>
<h2>My Posts</h2>
<%= render '/shared/post_list' %>
</div>

<div class="col-md-2">
</div>