

<p><%= @user.profile.location %></p>
<p><%= @user.profile.gender %></p>
<p><%= @user.profile.birthday %></p>

<div class="col-md-2">
<p><%= @user.full_name %></p>
<p><%= link_to "Edit Profile", edit_profile_path(@user.id) %></p>
<p><%= @user.profile.location %></p>
<p><%= @user.profile.gender %></p>
<p><%= @user.profile.birthday %></p>
</div>

<div class="col-md-8">

<%= render '/shared/post_form' %>

<%= render '/shared/post_list' %>
</div>

<div class="col-md-2">
</div>